<!doctype html>
<title>Predict Recidivism</title>
<h1>Predict Recidivism</h1>
<form method=post >
    <label for="gender">Gender</label>
    <select name="gender" id="gender">
        <option value="0">Female</option>
        <option value="1">Male</option>
    </select>
    <p></p>

    <label for="charge">Charge Degree</label>
    <select name="charge" id="charge">
        <option value="0">Trivial</option>
        <option value="1">Serious</option>
    </select>

    <p></p>
    <label for="age">Age</label>
    <select name="age" id="age">
        <option value="0">25-45</option>
        <option value="1">Greater than 45</option>
        <option value="2">Less than 25</option>
    </select>
    <p></p>

    <label for="race">Race</label>
    <select name="race" id="race">
        <option value="0">African-American</option>
        <option value="1">Asian</option>
        <option value="2">Caucasian</option>
        <option value="3">Hispanic</option>
        <option value="4">Native American</option>
        <option value="5">Others</option>
    </select>
    <p></p>

    <label for="Prior Count">Prior Count</label>
    <select name="count" id="count">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
    </select>
    <p></p>

    <input type=submit value=Predict>
</form>